$box-shadow: 0 0 2px #dadada;
$box-rounded: 10px;
.scss-input-container {
    border: 1px solid $border_color;
    border-radius: 5px;
    height: 45px;
    padding-inline: 10px;
}

.scss-rounded-container {
    border-radius: 10px;
}

.scss-clickable {
    transition: 0.3s;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    &:hover {
        opacity: 0.9;
        cursor: pointer;
    }
    &:active {
        opacity: 0.7;
        cursor: pointer;
    }
}