// font size
$font_large: 35px;
$font_medium: 18px;

$font_small: 16px;
$bold: bold;

.scss-text-large {
  font-size: $font_large;
}

.scss-text-medium {
  font-size: $font_medium;
}

.scss-text-small {
  font-size: $font_small;
}

.scss-bold {
  font-weight: $bold;
}
